on late-fs-charger
    class_start early_hal
    mount_all --late
    # Boot time fs tune
    write /sys/block/dm-9/queue/read_ahead_kb 2048

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger late-fs-charger
    trigger post-fs-data
    trigger moto-charger
    class_stop main
    class_stop late_start

on moto-charger
    stop vendor.sensors
    start vendor.thermal-com
    start system_suspend

    # Enable only CPU core 0 to keep current drain to a minimum
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

service vendor.thermal-com /vendor/bin/thermal-engine --minimode
    class main
    user root
    group root system oem_2907
    socket thermal-send-client stream 0666 system oem_2907
    socket thermal-recv-client stream 0660 system oem_2907
    socket thermal-recv-passive-client stream 0666 system oem_2907
    socket thermal-send-rule stream 0660 system oem_2907
    disabled
